{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#    one_post_machine: {{ one_post_machine.city }} {{ one_post_machine.address }}#}
{#    lockers:  {% for locker in lockers %}#}
{#    locker: {{one_post_machine.city }} {{one_post_machine.address }} <br>#}
{#    size: {{ locker.size }} <br>#}
{#    status: {{ locker.status}} <br>#}
{#    #}
{#    <br>#}
{#    -----------#}
{#    <br>#}
{#{% endfor %} #}
{#    #}
{#    <br>#}
{##}
{#    <br>#}
{##}
{##}
{#</body>#}
{#</html>#}