<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Your parcel: {{ parcel.post_machine_recipient.city }}, {{ parcel.post_machine_recipient.address }} <br>
size :{{ parcel.size }}

<br>
status:
{% if parcel.status == False %}
not received yet
{% else %}
received {{ parcel.open_datetime }}
{% endif %}

<br>

{% if parcel.locker is not None and parcel.status == False %}

<form method="post" action="/parcel/get_parcel/">
    {% csrf_token %}
    <input type="hidden" name="parcel_id" id="parcel_id" value="{{ parcel.pk }}">
    <input type="submit" value="Get Parcel">
</form>
{% endif %}
</body>
</html>