<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello {{ username }} <br>
your email: {{ email }} <br>
<form action="/parcel/" method="get">
      <label for="parcel">your parcels here: </label>
<br><br>
      <select name="parcel" >
          {% for parcel in parcels %}
        <option value="{{ parcel.pk }}">
        
        <a href="/parcel/{{ parcel.pk }}/"> Parcel {{ parcel.pk }} </a>
    sender: {{ parcel.sender }} <br>
    status:
    {% if parcel.status == True %}
        parcel is delivered
    {%  else %}
        {%  if parcel.locker is not None %}
            parcel is waiting for you
        {% else %}    
        parcel is on the road
        {% endif %}
    {% endif %}
    <br>
    post_machine: {{ parcel.post_machine_recipient.city }} {{ parcel.post_machine_recipient.address }}

        </option>
          {% endfor %}
      </select>
      <input type="submit" value="Select" />
</form>



<br><br><br><br>
<a href="/logout/"> LOGOUT </a><br>

</body>
</html>